{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'RegLog/css/RegistrationCSS.css' %}">
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="FormDiv">
            <div class="usernamediv">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" name="username" id="username">
            </div>
            <div class="emaildiv">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" name="email" id="email">
            </div>
            <div class="password1div">
                <label for="password1">Password</label>
                <input type="password" placeholder="Password" name="password1" id="password1">
            </div>
            <div class="password2div">
                <label for="password2">Confirm password</label>
                <input type="password" placeholder="Confirm password" name="password2" id="password2">
            </div>
            <div class="picturediv">
                <label for="picture">Picture Account</label>
                <input type="file" name="picture">
            </div>
            <input type="submit" >
            <a href="{% url 'login' %}">I have account</a>
        </div>
    </form>
</body>
</html>