{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'RegLog/css/RegistrationCSS.css' %}">
</head>
<body>
    <div class="Welcome_Site">
        <h1>Вітаємо на сайті Kompogram!</h1>
        <h2>Створіть аккаунт</h2>
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="FormDiv">
            <div class="usernamediv">
                <label for="username">Логін</label>
                <input type="text" placeholder="Введіть логін" name="username" id="username">
            </div>
            <div class="emaildiv">
                <label for="email">Почта</label>
                <input type="email" placeholder="Введіть почту" name="email" id="email">
            </div>
            <div class="password1div">
                <label for="password1">Пароль</label>
                <input type="password" placeholder="Введіть пароль" name="password1" id="password1">
            </div>
            <div class="password2div">
                <label for="password2">Підтвердіть пароль</label>
                <input type="password" placeholder="Підтвердіть пароль" name="password2" id="password2">
            </div>
            <div class="picturediv">
                <label for="picture">Фото аккаунта</label>
                <input type="file" name="picture">
            </div>
            <input type="submit" >
            <a href="{% url 'login' %}">Я маю аккаунт</a>
        </div>
    </form>
</body>
</html>