{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пошук користувачів</title>
    <link rel="stylesheet" href="{% static 'RegLog/css/SearchCSS.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="left_and_center_div">
            <h1 class="search-title">Знайдені користувачі:</h1>
            <div class="user-box-container">
                {% for user in users %}
                    <div class="user-box">
                        {% if user.picture %}
                            <img src="{{ user.picture.url }}" alt="User Picture" class="user-picture">
                        {% endif %}
                        <h2 class="user-name">{{ user }}</h2>
                        <div class="user-info">
                            <a href="{% url 'add-friend' user.id %}" class="add-friend-link">Додати друга</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right_div">
            <a href="{% url 'home' %}" class="home-link"><i class="fas fa-home large-icon"></i></a>
        </div>
    </div>
    <script>
        room_name = {{ home_name_json }}

        let url = `ws://${window.location.host}/ws/home/${room_name}/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            let from_user = data.user;
            if (data.type === 'add_new_message_offline'){
                console.log('ну да')
                console.log(data.from_user)
                if (Notification.permission !== 'granted') {
                    console.log('нетттт')
                    Notification.requestPermission().then(function(permission) {
                        if (permission === 'granted') {
                            // Разрешение получено, создаем уведомление
                            new Notification(data.from_user, {
                                body: data.message
                            });
                        }
                    });
                } else {
                    // Разрешение уже есть, создаем уведомление
                    new Notification(data.from_user, {
                        body: data.message
                    });
                }
            }
        }
    </script>
</body>
</html>