body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    height: 100vh;
}

.profile_pictures {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.left_and_center_div {
    padding: 20px;
    box-sizing: border-box;
    border-right: 3px solid #4bb9c9;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    width: 100%;
}

.content{
    display: flex;
    flex: 3;
    height: 100vh;
    position: relative;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.message img.profile_pictures {
    margin-right: 10px;
}

.message p {
    margin: 0;
    padding: 8px;
    border-radius: 10px;
    background-color: #e1e1e1;;
    color: black;
}

.message p:first-child {
    background-color: #e1e1e1;
    color: black;
    margin-bottom: 5px;
}

.message img {
    max-width: 100%;
    max-height: 300px;
}

.message__delete, .message__reply {
    background-color: #4bb9c9;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.message__delete {
    margin-left: 10px;
}
.container {
    display: flex;
    height: 100%;
    flex: 3;
}
#messageContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px;
    width: 100%;
}
.text_message{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
}
.right_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.66;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    color: white;
    height: 100vh;
}


.large-icon {
    font-size: 100px;
    color: #4bb9c9;
    transition: transform 0.2s;
}

.right_div:hover .large-icon {
    transform: scale(1.2);
}

.home_div {
    position: fixed;
    color: #4bb9c9;
    font-size: 24px;
}
.home-link::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}
#form1{
    width: 1200px
}
.div_to_reply{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 400px;
    margin-right: 20px;
}

.player{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    background-color: black;
    width: 1236px;
}
video{
    width: 100%;
}
.controls_div{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.player:hover .controls_div,
.player:focus-within .controls_div,
.player.paused .controls_div{
    opacity: 1;
}
.controls_div .controls{
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}
.controls_div .controls button{
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
}
.controls_div .controls:hover{
    opacity: 1;
}
.player.paused .pause-icon{
    display: none;
}
.player:not(.paused) .play-icon{
    display: none;
}
.controls_div::before{
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top , rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}
.player.full_screeen {
    max-width: initial;
    width: 100%;
}
.player.full_screeen{
    max-height: 100vh;
}
.player.full_screeen .open{
    display: none;
}
.player:not(.full_screeen) .close{
    display: none;
}
.volume-high-icon,
.volume-low-icon,
.volume-muted-icon{
    display: none;
}
.player[data-volumelevel="high"] .volume-high-icon{
    display: block;
}
.player[data-volumelevel="low"] .volume-low-icon{
    display: block;
}
.player[data-volumelevel="muted"] .volume-muted-icon{
    display: block;
}
.volume_div{
    display: flex;
    align-items: center;
}
.volume_range{
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}
.volume_div:hover .volume_range,
.volume_range:focus-within {
    width: 100px;
    transform: scaleX(1);
}
.duration_div{
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
    font-family: Arial;
}
.player.subtitles .subtitres{
    border-bottom: 3px solid red;
}
.controls_div .controls button.wide-btn{
    width: 50px;
}
.timeline_div{
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.timeline_div:hover .timeline{
    height: 120%;
}
.timeline{
    background-color: rgba(100, 100, 100, .5);
    height: 4px;
    width: 100%;
    position: relative;
}
.timeline::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgba(150, 150, 150);
    display: none;
}
.timeline::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: cyan;
}
.timeline .thumb_indicator{
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: cyan;
    border-radius: 50%;
    transition: transform 125ms ease-in-out;
    aspect-ratio: 1 / 1;
}
.timeline .preview-time{
    position: absolute;
    background-color: black;
    aspect-ratio: 16 / 9;
    top: -5px;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    display: none;
}
.thumbnail_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.player.scrubbing .preview-time,
.timeline_div:hover .preview-time {
    display: block;
}

.series{
    margin-left: 334px;
}

.series button{
    width: 8%;
    height: 35px;
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border: 3px solid black;
}
.series button:hover{
    color: black;
    cursor: pointer;
}
.about_me{
    font-family: Arial;
    color: white;
    height: 800px;
    display: flex;
    align-items: end;
}
.about_me_black{
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: black;
    width: 100%;
    align-items: center;
}
.Logo{
    margin-right: 200px;
}
.numbers{
    display: block;
    margin-left: 200px;
}
